---
layout: default
title: "Providing the ability to have “plug-and-play” tools"
---

<p>One way cities could benefit from data standards is by gaining access to tools that use that data for some meaningful application — "plug-and-play" tools that work for any city whose data is in a particular format. Right now, creating online visualizations and applications that use open data is a big effort for most cities, one that there is often little capacity for. If data portals came with a set of built-in features that make open data easier to understand — that can be used by any place that uses certain data standards — cities could make their data more user-friendly and useful quickly, easily, and affordably.</p>

<p>As an example, I created a tool that generates a map and visualizations of building permits, as long as the data conforms to the <a href="http://permitdata.org/">BLDS standard</a>, with examples below for San Diego County (unincorporated areas) and Chattanooga. Note that some of the charts below have what appear to be gaps in the data; that is indeed due to gaps in the source data. [Double-check that!]</p>

<br>

<h3>Building permit types in San Diego County (unincorporated areas)</h3>
<!-- <iframe src='/key.html' style = "width:400px; height:200px;"></iframe> -->
{% include blds-key.html %}
<div id="mapid" style="width: 600px; height: 400px; margin-bottom: 35px;"></div>
<canvas id="myChart" style = "width:400px; height:400px; margin-bottom: 35px;"></canvas>
<canvas id="myChart2" style = "width:400px; height:400px;"></canvas>

<h3>Building permit types in Chattanooga</h3>
<!-- <iframe src='/key.html' style = "width:400px; height:200px;"></iframe> -->
{% include blds-key.html %}
<div id="mapid2" style="width: 600px; height: 400px; margin-bottom: 35px;"></div>
<canvas id="myChart3" style = "width:400px; height:400px; margin-bottom: 35px;"></canvas>
<canvas id="myChart4" style = "width:400px; height:400px;"></canvas>

<!-- <script data-main="/assets/js/blds.js" src="/assets/js/require.js/require.js"></script> -->

<!-- <script src="/assets/js/require.js/require.js"></script>
<script>
require.config({
	paths: {
		blds: '/assets/js/blds',
		Chart: '/assets/js/chartjs'
		// Chart: 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min'
	}
	shim: {
		'blds': {
			deps: ['Chart']
		}
	}
});

require(["blds"]);
</script> -->

<!-- <script data-main="/assets/js/blds.js" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src = '{{ site.baseurl }}/assets/js/blds.js'></script>
