---
layout: default
title: Home
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>

<p class="lead">How could increased adoption of <a href="http://datastandards.directory/">open data standards</a> help cities? This project explored several cases to try to understand and demonstrate the value — beyond common examples like <a href="https://sunlightfoundation.com/2016/06/20/opengov-voices-transit-data-a-major-success-story-for-common-data-standards/">GTFS</a>. Read more in our explanatory blog post [add link].</p>
<p>Created by <a href="https://github.com/Aycrazy">Andrew Yaspan</a>, a 2017 Open Cities Fellow at the Sunlight Foundation.</p>
<br>
<img src="{{ site.baseurl }}/images/kc_map.png" />
<br>
<h3><a href="kc_ind/">Mapping data across municipalities in a metro area</a></h3>
<p>Mapping points from datasets containing the same type of information from multiple cities within a region.</p>
<br>
<h3><a href="blds/">Providing the ability to have “plug-and-play” tools</a></h3>
<p>Creating a map and some basic graph visualizations for any dataset following a particular data standard to discover trends particular to that city.</p>
<br>
<h3><a href="procurement/">Making city-to-city comparisons</a></h3>
<p>Designing a visualization made for the express purpose of viewing the data of cities in a context that provides insight on trends based on similarities or differences between the cities.</p>

<!-- <section class="post-list">
  <div class="container">
  <table>
    <tbody>
      <tr>
        <td style = 'text-align: center; border: none;'>
          <h3> Business Licenses in Jackson County </h3>
          <iframe src='kc_ind.html' width = '640' height = '416'>
          </iframe>
        </td>
      </tr>
      <tr>
        <td style = 'text-align: center; border: none ;'>
          <h3> BLDS Standard Example </h3>
          <iframe src='blds.html' width = '640' height = '4200'>
          </iframe>
        </td>
      </tr>
      <tr>
        <td style = 'text-align: center; border: none ;'>
          <h3> Procurement Types in Miami, Washington, and Baton Rouge </h3>
            <h4> The bubbles indicate the realtive size of the city </h4>
          <iframe src='procurement.html' width = '640' height = '2050'>
          </iframe>
        </td>
      </tr>
    </tbody>
  </table>

  {% for post in site.posts %}
    {% unless post.next %} -->
      <!--<script type="text/javascript" src="js/business_license.js"></script>-->

      <!-- <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}
    <article class="post-item">
      <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
      <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
    </article>
  {% endfor %}
  </div>

</section> -->
