---
layout: default
title: Home
---
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>


{% include intro.html %}

<section class="post-list">
  <div class="container">
  <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
   integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
   crossorigin=""></script>
  <div id="mapid" style="width: 600px; height: 400px; margin-bottom: -200px;"></div>

  <script>

  var mymap = L.map('mapid', { zoomControl:false }).setView([39.0232,-94.4083],11);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'mapbox.streets'
  }).addTo(mymap);
  </script>
  <script>

  var xhr = new XMLHttpRequest();

  xhr.open("GET", 'https://data.kcmo.org/resource/rmk6-sicm.json',false);  

  xhr.send();

  var json = JSON.parse(xhr.responseText);

  console.log(json);

  for (var i = 0; i < json.length; i++) {


      if(json[i]['location_1']){
      var coords = json[i]['location_1']['coordinates'];

      var marker = L.marker([coords[1], coords[0]]).bindPopup( '<a href="' + json[i].business_dba + '" target="_blank">' + json[i].business_type + '</a>' )
        .addTo(mymap);}}

  

  </script>  


  {% for post in site.posts %}
    {% unless post.next %}
      <!--<script type="text/javascript" src="js/business_license.js"></script>-->
      
      <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="category-title">{{ post.date | date: '%Y' }}</h2>
      {% endif %}
    {% endunless %}
    <article class="post-item">
      <span class="post-meta date-label">{{ post.date | date: "%b %d" }}</span>
      <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
    </article>
  {% endfor %}
  </div>

</section>
